$black-blue:#0A1128;
$dark-blue:#001F56;
$cerulean: #034078;
$green: #2C8C99;
$white: #FEFCFB;
$section-padding: 22px 22px 22px 22px;
// $section-padding: 0 22px 0 22px;
$section-border: 3px;
$section-background: $white;
$section-content-margin: 22px 22px 0 22px;
html{
    scroll-behavior: smooth;
}
body{
  background-color: $white;
  font-family: 'Arimo', sans-serif;
}
h2{
  color: $green;
}
.btn-primary{
  background-color: $green;
  border-color:$green; 
}
.btn-primary:hover{
  background-color: $cerulean;
  border-color:$cerulean;
}
h1{
  display: inline-block;
  margin: 0; 
  white-space: nowrap;
  color:$black-blue;
  font-size: 10vw;
  opacity: 0;
}

h2{
  text-align: right;
  margin-top: -6vw;
  margin-right: 10px;
  color: $black-blue;
  font-size: 2vw;
}
@media (max-width: 768px){
  h1{
    font-size: 15vw;
  }
  h2{
    margin-top: -8vw;
    font-size: 4vw;
  }

}
#subtitle{
  opacity: 0;
}
h3{
    border-bottom: 1px solid $black-blue;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
h4{
  margin:0; 
  padding: 0;
}
header{
    height: 100vh;
    background-color:$white;
    #wrapper{
        text-align: center;
        padding-top: 30vh;
        #wrapper-inner{
            display: inline-block;
        }
    }
}
@media (max-width: 768px){
  header{
    #wrapper{
        padding-top: 40vh;
    }
  }
}
.navbar{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1030;
    background-color: $section-background;
    width:100%;
    padding: 8px 44px;
}
.h1Anime {
    position: relative;
}
.h1Anime .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.h1Anime .letter {
  display: inline-block;
  line-height: 1em;
}

// section{
//   padding: 3% 0 3% 0;
// }
#about{
    background-color: $black-blue;
    padding: 37px 22px 22px 22px;
  #hello{
    margin-bottom: 22px;
    #hello__section{
        padding: $section-padding;
        border-radius: $section-border;
        background-color: $section-background;
    }
  }
  // #past__work{
  //   margin-bottom: 22px;
  // }
  #experience{
    .experience__section{
        border-radius: $section-border;
        padding: $section-padding;
        background-color: $section-background;
        margin-bottom: 22px;
        #past-work-hidden{
          max-height: 0px;
          overflow: hidden;
          transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
        } 
        #past-work-hidden.show{
          max-height: 1000px;
          height: 100%;
          transition: max-height 0.3s ease-in-out;
        }
        .experience__section__header__dates{
          font-size: smaller;
        }
        #expand-past-work{
          transition: 0.2s;
          text-align: center;
          padding-top: 1em;
          height: 64px;
          p{
            margin:0;
            color: $green;
            transition: 0.3s;
          }
          .icon{
            font-size: 2.5rem;
            position: relative;
            top: -22px;
            transition: 0.2s;
          }
          #expand-past-work-see-less{
            display: none;
          }
        }
        #expand-past-work.seeMore{
          transition: 0.2s;
          #expand-past-work-see-more{
            display: none;
          } #expand-past-work-see-less{
            display: block;
          }
        }
      
        #expand-past-work:hover{
          cursor: pointer;
          p{
            margin:0;
            color: $black-blue;
            
          }
          .icon{
            color: $black-blue;
          }

        }
    }
  }
}
.icon{
  font-size:2rem;
  color: $green;
}
#projects{
  padding: 0 0 3rem 0;
    #projects__content{
      border-radius: $section-border;
      margin: $section-content-margin;
      padding: $section-padding;
      background-color: $section-background;
      // #thumb_eol{
      //   background-image: url(images/thumbnail-eol.png);
      // }
      .card{
        height: 200px;
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: 1px solid #dedddc;
        margin-top: 2em;
        .card__title{
          position: absolute;
          transition: 0.5s;
          height: 0;
          text-align: center;
          width: 100%;
          margin: auto;
         
          background-color: $black-blue;
          p{
            font-size: large;
            position: absolute;
            bottom: 34px;
            transition: 0.5s;
            margin: auto;
            padding: 0;
            color: $white;
            width: 100%
          }

        }
        .card-expand{
          position: absolute;
          background-color: $green;
          height: 0;
          width: 100%;
          margin: auto;
          transition: 0.5s;
          text-align: center;
          bottom: 0;
          .card-expand__button{
            height: 20px;
            text-align: center;
            vertical-align: middle;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            background-color:$green;
          }
        }
      }
      #portfolio.card{
        background-image: url("https://www.fennellweb.com/sites/portfolio/images/projects/portfolio/port_thumb.PNG")
      }
      #weather.card{
        background-image: url("https://www.fennellweb.com/images/projects/weather/thumb-1.png")
      }
      #elixir.card{
        background-image: url("https://www.fennellweb.com/sites/portfolio/images/projects/elixir/thumb-01.PNG")
      }
      #campaign.card{
        background-image: url("https://www.fennellweb.com/sites/portfolio/images/projects/campaign/thumb-4.png")
      }
      .card:hover{
        cursor: pointer;
        .card__title{
          // top: 10%;
          height: 25%;
          p{
            bottom: 10px;
          }
        }
        .card-expand{
          height: 75%;
         
        }

      }

      .project-header{
        margin:0;
        color: $dark-blue;
      }
   }
}
#contact{
  // 
  background-color: $white;
  // margin: $section-content-margin;
  padding: 3rem 0 3rem 0;
  // padding: $section-padding;
    #contact__content{
      border-radius: $section-border;
      margin: $section-content-margin;
      padding: $section-padding;
      background-color: $section-background;
   }
}
footer{
  padding: 3rem 0 1em 0;
  p{
    text-align: center;
    margin: 0;
    font-size: smaller;
    opacity: .7;
  }
  #footer-icons{
    text-align: center;
    .icon{
      transition: .2s;
    }
    .icon:hover{
      color:$black-blue;
    }
  }
}
.swiper-container {
  width: 100%;
  height: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
}